{% extends "base.html" %}
{% block styleblock %}
<style type="text/css">
table {
	border:1px solid blue;
}
tr { border: 1px solid red;}
th, td {
	border:2px solid green;
}

</style>
{% endblock styleblock %}
{% block content %}
{% if invoice %}
<h3>Invoice
	<a href="{% url 'invoice_detail' invoice.id %}">{{ invoice.id }}</a>
</h3>

<div><h3>From: Coach {{ invoice.user.username }}</h3></div>

<table>
	<tr>
		<th><h5>Bill To:</h5></th>
	</tr>
	<tr>
		<td>Client: {{ invoice.invoice_for.username }}</td>
	</tr>
</table>

<table>
<tr>
	<th>Invoice #</th>
	<th>Period</th>
	<th>Due By</th>
</tr>
<tr>
	<td>{{ invoice.number }}</td>
	<td>{{ invoice.begins }} to {{ invoice.ends }}</td>
	<td>{{ invoice.due_date }}</td>
</tr>
</table>
<table>
	<tr>
	<th>Code</th>
	<th>Description</th>
	<th>Qty</th>
	<th>Price</th>
	<th>Line Total</th>
	</tr>
{% for item in invoice.line_items.all %}
	<tr>
		<td>{{ item.item_type.identifier }}</td>
		<td>{{ item.description }}</td>
		<td>{{ item.quantity }}</td>
		<td>{{ item.item_type.amount }}</td>
		<td>{{ item.subtotal }}</td>
	</tr>	
{% endfor %}
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td>{{ invoice.total }}</td>
</tr>	
</table>
{% else %}
No results.
{% endif %}

{% endblock content %}
